@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root{
    --primary-color:#047857;
}
body{
    font-family: 'Montserrat', sans-serif;
}

hr{
    margin: 2rem 0rem;
}

.container{
    padding: 0rem 1rem;
    
}

.centre-container{
margin: auto;
max-width: 600px;
}

.link{
    text-decoration: none;
    padding:0.5rem 1rem
}
.primary-link{
    background-color:var(--primary-color);
    color:white;
    border-radius: 0.7rem;
}
.secondary-link{
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.7rem;
}
 
.non-bullet-list{
    list-style: none;
}

.inline-list-item{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation{
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: 1rem;
    padding: 1rem;
}

.navigation .link{
    color: white;
}

.navigation .nav-pills{
    text-align:right;
}

.navigation .nav-brand{
    font-weight: bold;
}
.navigation .link-active{
    font-weight: bold;
}