@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root{
    --primary-color:#047857;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    padding: 0rem 1rem;
    
}

.centre-container{
margin: auto;
max-width: 600px;
}

.link{
    text-decoration: none;
    padding:0.5rem 1rem
}
.primary-link{
    background-color:var(--primary-color);
    color:white;
    border-radius: 0.7rem;
}
.secondary-link{
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.7rem;
}
 